nodered/flows_yoctu.json
[{"id":"f135ac95.9566a8","type":"tab","label":"All events","disabled":false,"info":""},{"id":"8444ffda.a19ad8","type":"tab","label":"Websocket","disabled":false,"info":""},{"id":"6d3b002.1403a","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"a7001b4a.999228","type":"subflow","name":"Sematext","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"29865579.fd5d72"}]}],"out":[],"env":[]},{"id":"827c3092.be8628","type":"inject","z":"6d3b002.1403a","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["cd1e631d.9664e8"]]},{"id":"a2d28f2d.62805","type":"comment","z":"6d3b002.1403a","name":"Load current config","info":"","x":130,"y":60,"wires":[]},{"id":"3a14c91e.c43f96","type":"link out","z":"6d3b002.1403a","name":"","links":["c5fd8e56.54ff1","8d20e23e.5d75d","41cbc2a1.31c034","ce62225d.93de2","cd3e543.ff905a8","b8faeb4.b670998","ea899f80.7dd9d8","22fb077d.7f7b1"],"x":455,"y":120,"wires":[]},{"id":"937e097.694a7f8","type":"link in","z":"f135ac95.9566a8","name":"","links":["7bc05377.170454"],"x":175,"y":100,"wires":[["5e75ec91.b9070c"]]},{"id":"5e75ec91.b9070c","type":"debug","z":"f135ac95.9566a8","name":"TODO Next...","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":100,"wires":[]},{"id":"2e2aabcf.e888dc","type":"comment","z":"f135ac95.9566a8","name":"All events are handle here...","info":"","x":190,"y":40,"wires":[]},{"id":"ff98e487.de6c4","type":"http request","z":"a7001b4a.999228","name":"Sematext Log","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":760,"y":60,"wires":[[]]},{"id":"10cd8af7.c29075","type":"function","z":"a7001b4a.999228","name":"Format properties","func":"msg.payload['@timestamp'] = (new Date()).toISOString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":60,"wires":[["e51e8711.7f85a"]]},{"id":"e51e8711.7f85a","type":"change","z":"a7001b4a.999228","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"SEMATEXT","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":60,"wires":[["ff98e487.de6c4"]]},{"id":"29865579.fd5d72","type":"switch","z":"a7001b4a.999228","name":"","property":"$length($env('SEMATEXT'))","propertyType":"jsonata","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":60,"wires":[["10cd8af7.c29075"]]},{"id":"7bc05377.170454","type":"link out","z":"8444ffda.a19ad8","name":"","links":["11f6704f.1f49f","b7b5cb49.d3dfb8","900d05c3.881358","c57c0dac.2c3b18","a08c31af.c3d7a","9dd9db0c.d82928","937e097.694a7f8"],"x":835,"y":80,"wires":[]},{"id":"8e54fcea.2fa9f","type":"function","z":"8444ffda.a19ad8","name":"Websockets","func":"const io = global.get('socketioclient');\n\nconst sendMsg = function (message) {\n    msg.payload = message;\n    node.send([msg, null, null]);\n    node.done();\n};\n    \nif (context.get(\"sockets\") !== undefined && context.get(\"sockets\").length > 0) {\n    for (const socket of context.get(\"sockets\")) {\n        socket.close();\n    }    \n}\n\nconst sockets = [];\n\nglobal.get('instances').forEach((instance, index) => {\n    const credential = Buffer.from(global.get('credentials')[index], 'base64')\n        .toString('ascii')\n        .split(':');\n\n    sockets.push(\n        io(\n            global.get('shaq_url').replace('%USERCODE%', instance) + '/shaq',\n            {\n                reconnectionDelay: 5000,\n                reconnectionDelayMax: 60000,\n                query: {\n                    email: credential[0],\n                    key: credential[1]\n                }\n            }\n        )\n        .on(instance, sendMsg)\n        .on('connect', () => {\n            msg.payload = {\n                usercode: instance\n            };\n            node.send([null, msg, null]);\n            node.done();\n        })\n        .on('connect_error', event => {\n            console.log(event);\n            msg.payload = {\n                event: event,\n                msg: event.toString(),\n                usercode: instance\n            };\n            node.send([null, null, msg]);\n            node.done();\n        })\n    );\n});\n\ncontext.set('sockets', sockets);","outputs":3,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\n\nfor (const socket of context.get(\"sockets\")) {\n    socket.close();\n}\n","x":350,"y":80,"wires":[["d5428ad8.4ad128"],["152a1b23.c5d55d"],["9c00454f.859eb8"]]},{"id":"ea899f80.7dd9d8","type":"link in","z":"8444ffda.a19ad8","name":"","links":["3a14c91e.c43f96"],"x":215,"y":80,"wires":[["8e54fcea.2fa9f"]]},{"id":"152a1b23.c5d55d","type":"function","z":"8444ffda.a19ad8","name":"Audit","func":"msg.payload = {\n    type:'audit',\n    event: 'websocket:connection',\n    application: 'virtual-agency',\n    env: global.get('env'),\n    body: JSON.stringify(msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":140,"wires":[["2bd1a7b7.5b816"]]},{"id":"2bd1a7b7.5b816","type":"subflow:a7001b4a.999228","z":"8444ffda.a19ad8","name":"","env":[],"x":700,"y":140,"wires":[]},{"id":"9c00454f.859eb8","type":"function","z":"8444ffda.a19ad8","name":"Audit","func":"msg.payload = {\n    type:'audit',\n    event: 'websocket:connection_error',\n    application: 'virtual-agency',\n    env: global.get('env'),\n    body: JSON.stringify(msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":200,"wires":[["727349b1.7e8658"]]},{"id":"727349b1.7e8658","type":"subflow:a7001b4a.999228","z":"8444ffda.a19ad8","name":"","env":[],"x":700,"y":200,"wires":[]},{"id":"3fa04194.95180e","type":"json","z":"8444ffda.a19ad8","name":"","property":"payload.value","action":"","pretty":false,"x":730,"y":80,"wires":[["7bc05377.170454"]]},{"id":"d5428ad8.4ad128","type":"change","z":"8444ffda.a19ad8","name":"Set Instance","rules":[{"t":"set","p":"instance","pt":"msg","to":"payload.topic","tot":"msg"},{"t":"set","p":"credential","pt":"msg","to":"$map($globalContext('credentials'), function ($v, $i) {\t    $i = $map($globalContext('instances'), function($v, $i) { $v = msg.instance ? $i }) ? $v\t})","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":80,"wires":[["3fa04194.95180e"]]},{"id":"cd1e631d.9664e8","type":"change","z":"6d3b002.1403a","name":"","rules":[{"t":"set","p":"env","pt":"global","to":"NODE_ENV","tot":"env"},{"t":"set","p":"instances","pt":"global","to":"$split($env('INSTANCES'), ',')","tot":"jsonata"},{"t":"set","p":"credentials","pt":"global","to":"$split($env('CREDENTIALS'), ',')","tot":"jsonata"},{"t":"set","p":"sematext","pt":"global","to":"SEMATEXT","tot":"env"},{"t":"set","p":"shaq_url","pt":"global","to":"$length($env('SHAQ_URL_PATTERN')) > 0 ? $env('SHAQ_URL_PATTERN') : 'https://%USERCODE%.shaq.eu.yoctu.solutions'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["3a14c91e.c43f96"]]}]