nodered/flows_yoctu.json
[{"id":"f135ac95.9566a8","type":"tab","label":"All events","disabled":false,"info":""},{"id":"8444ffda.a19ad8","type":"tab","label":"Websocket","disabled":false,"info":""},{"id":"6d3b002.1403a","type":"tab","label":"Settings","disabled":false,"info":""},{"id":"a7001b4a.999228","type":"subflow","name":"Sematext","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"10cd8af7.c29075"}]}],"out":[],"env":[]},{"id":"7bc05377.170454","type":"link out","z":"8444ffda.a19ad8","name":"","links":["11f6704f.1f49f","b7b5cb49.d3dfb8","900d05c3.881358","c57c0dac.2c3b18","a08c31af.c3d7a","9dd9db0c.d82928"],"x":815,"y":100,"wires":[]},{"id":"8e54fcea.2fa9f","type":"function","z":"8444ffda.a19ad8","name":"Websockets","func":"const io = global.get('socketioclient');\n\nconst sendMsg = function (message) {\n    msg.payload = message;\n    node.send([msg, null, null]);\n    node.done();\n};\n\nconst config = global.get(global.get('env')).shaq_api;\nconst sockets = [];\n\nfor (const instance of global.get('instances')) {\n    sockets.push(\n        io(\n            config.base_url.replace('%USERCODE%', instance) + '/shaq',\n            {\n                reconnectionDelay: config.ws.reconnectionDelay,\n                reconnectionDelayMax: config.ws.reconnectionDelayMax,\n                transportOptions: {\n                    polling: {\n                        extraHeaders: {\n                            Authorization: 'Basic ' + env.get('CREDENTIAL')\n                        }\n                    }\n                }\n            }\n        )\n        .on(instance, sendMsg)\n        .on('connect', () => {\n            msg.payload = {\n                usercode: instance\n            };\n            node.send([null, msg, null]);\n            node.done();\n        })\n        .on('connect_error', event => {\n            console.log(event);\n            msg.payload = {\n                event: event,\n                msg: event.toString(),\n                usercode: instance\n            };\n            node.send([null, null, msg]);\n            node.done();\n        })\n    );\n}\n\ncontext.set('sockets', sockets);","outputs":3,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\n\nfor (const socket of context.get(\"sockets\")) {\n    socket.close();\n}\n","x":330,"y":100,"wires":[["d5428ad8.4ad128"],["152a1b23.c5d55d"],["9c00454f.859eb8"]]},{"id":"827c3092.be8628","type":"inject","z":"6d3b002.1403a","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["902e772e.69565"]]},{"id":"598b3f38.a33b7","type":"http response","z":"6d3b002.1403a","name":"","statusCode":"201","headers":{},"x":660,"y":300,"wires":[]},{"id":"628ac8bd.8dda6","type":"http in","z":"6d3b002.1403a","name":"","url":"/config","method":"post","upload":false,"swaggerDoc":"","x":120,"y":240,"wires":[["1bac47.035243ba"]]},{"id":"ae0ea630.4cb3d8","type":"function","z":"6d3b002.1403a","name":"Replace global","func":"global.set(global.get('env'), msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":240,"wires":[["598b3f38.a33b7","3a14c91e.c43f96"]]},{"id":"ec4f636e.29dd28","type":"file in","z":"6d3b002.1403a","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":710,"y":120,"wires":[["627f0a2.fcc21f4"]]},{"id":"627f0a2.fcc21f4","type":"json","z":"6d3b002.1403a","name":"","property":"payload","action":"","pretty":false,"x":850,"y":120,"wires":[["52f29f01.004bc8"]]},{"id":"52f29f01.004bc8","type":"function","z":"6d3b002.1403a","name":"Replace global","func":"global.set(global.get('env'), msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":120,"wires":[["3a14c91e.c43f96"]]},{"id":"902e772e.69565","type":"change","z":"6d3b002.1403a","name":"","rules":[{"t":"set","p":"env","pt":"global","to":"NODE_ENV","tot":"env"},{"t":"set","p":"instances","pt":"global","to":"$split($env('INSTANCES'), ',')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[["252c7962.4f5f9e"]]},{"id":"bca1df8a.051f5","type":"file","z":"6d3b002.1403a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":510,"y":240,"wires":[["ae0ea630.4cb3d8"]]},{"id":"a2d28f2d.62805","type":"comment","z":"6d3b002.1403a","name":"Load current config","info":"","x":130,"y":60,"wires":[]},{"id":"a354a83b.9c7ba8","type":"comment","z":"6d3b002.1403a","name":"Replace current config DEPRECATED","info":"","x":190,"y":200,"wires":[]},{"id":"ab7040ad.014078","type":"http in","z":"6d3b002.1403a","name":"","url":"/config","method":"get","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["f7a49345.ce9f4"]]},{"id":"29598e96.1fb292","type":"http response","z":"6d3b002.1403a","name":"","statusCode":"","headers":{},"x":500,"y":360,"wires":[]},{"id":"f7a49345.ce9f4","type":"change","z":"6d3b002.1403a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$globalContext($globalContext('env'))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":360,"wires":[["29598e96.1fb292"]]},{"id":"252c7962.4f5f9e","type":"change","z":"6d3b002.1403a","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"'config_' & $globalContext('env') & '.json'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[["ec4f636e.29dd28"]]},{"id":"1bac47.035243ba","type":"change","z":"6d3b002.1403a","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"'config_' & $globalContext('env') & '.json'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["bca1df8a.051f5"]]},{"id":"3a14c91e.c43f96","type":"link out","z":"6d3b002.1403a","name":"","links":["c5fd8e56.54ff1","8d20e23e.5d75d","41cbc2a1.31c034","ce62225d.93de2","cd3e543.ff905a8","b8faeb4.b670998","ea899f80.7dd9d8","22fb077d.7f7b1"],"x":1175,"y":160,"wires":[]},{"id":"ea899f80.7dd9d8","type":"link in","z":"8444ffda.a19ad8","name":"","links":["3a14c91e.c43f96"],"x":195,"y":100,"wires":[["8e54fcea.2fa9f"]]},{"id":"152a1b23.c5d55d","type":"function","z":"8444ffda.a19ad8","name":"Audit","func":"msg.payload = {\n    type:'audit',\n    event: 'websocket:connection',\n    application: 'virtual-agency',\n    env: global.get('env'),\n    body: JSON.stringify(msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":160,"wires":[["2bd1a7b7.5b816"]]},{"id":"2bd1a7b7.5b816","type":"subflow:a7001b4a.999228","z":"8444ffda.a19ad8","name":"","env":[],"x":680,"y":160,"wires":[]},{"id":"ff98e487.de6c4","type":"http request","z":"a7001b4a.999228","name":"Sematext Log","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":60,"wires":[[]]},{"id":"10cd8af7.c29075","type":"function","z":"a7001b4a.999228","name":"Format properties","func":"msg.payload['@timestamp'] = (new Date()).toISOString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":60,"wires":[["e51e8711.7f85a"]]},{"id":"e51e8711.7f85a","type":"change","z":"a7001b4a.999228","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"$globalContext($globalContext('env')).sematext.base_url & \"/\" & $env('SEMATEXT') & \"/audit/\"\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":60,"wires":[["ff98e487.de6c4"]]},{"id":"9c00454f.859eb8","type":"function","z":"8444ffda.a19ad8","name":"Audit","func":"msg.payload = {\n    type:'audit',\n    event: 'websocket:connection_error',\n    application: 'virtual-agency',\n    env: global.get('env'),\n    body: JSON.stringify(msg.payload)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":220,"wires":[["727349b1.7e8658"]]},{"id":"727349b1.7e8658","type":"subflow:a7001b4a.999228","z":"8444ffda.a19ad8","name":"","env":[],"x":680,"y":220,"wires":[]},{"id":"3fa04194.95180e","type":"json","z":"8444ffda.a19ad8","name":"","property":"payload.value","action":"","pretty":false,"x":710,"y":100,"wires":[["7bc05377.170454"]]},{"id":"d5428ad8.4ad128","type":"change","z":"8444ffda.a19ad8","name":"Set Instance","rules":[{"t":"set","p":"instance","pt":"msg","to":"payload.topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":100,"wires":[["3fa04194.95180e"]]},{"id":"937e097.694a7f8","type":"link in","z":"f135ac95.9566a8","name":"","links":[],"x":85,"y":100,"wires":[["5e75ec91.b9070c"]]},{"id":"5e75ec91.b9070c","type":"debug","z":"f135ac95.9566a8","name":"TODO Next...","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":100,"wires":[]},{"id":"2e2aabcf.e888dc","type":"comment","z":"f135ac95.9566a8","name":"All events are handle here...","info":"","x":190,"y":40,"wires":[]}]